<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'barchart/treestyle.css' %}" />
		<script src="{% static 'barchart/d3.js' %}" charset="utf-8"></script>
	</head>
	<body>
		<div id="body">
		  <div id="footer">
			Cost of the Cold Chain, Annual, Tanzania 2012
			<div class="hint">click or option-click to descend or ascend</div>
			<div><select>
			  <option value="req">Capacity Requirements</option>
			  <option value="births">Births</option>
			  <option value="volume">Total Vaccine Volume Distributed</option>
			  <option value="cost">Cost of Ownership for District CC Equipment</option>
			  <option value="energy">Energy Costs</option>
			  <option value="maint">Maintenance Costs</option>
			  <option value="cpb">Cost per Birth</option>
			</select></div>
			<h2>National Statistics</h2>
				<p>Total Births: 690,872</p>
				<p>Total Vaccine Volume Delivered: 59,880L</p>
				<p>Total Cost of Ownership: $54,636.98</p>
				<p>Total Energy Cost: $4,186.32</p>
				<p>Total Maintenance Cost: $9,292.90</p>
		  </div>
		</div>
		<script>
			var w = 1280 - 80,
				h = 800 - 180,
				x = d3.scale.linear().range([0, w]),
				y = d3.scale.linear().range([0, h]),
				color = d3.scale.category10(),
				root,
				node;

			var treemap = d3.layout.treemap()
				.round(false)
				.size([w, h])
				.sticky(true)
				.value(function(d) { return d.req; });

			var svg = d3.select("#body").append("div")
				.attr("class", "chart")
				.style("width", w + "px")
				.style("height", h + "px")
			  .append("svg:svg")
				.attr("width", w)
				.attr("height", h)
			  .append("svg:g")
				.attr("transform", "translate(.5,.5)");

			d3.json("{% static 'barchart/quantity.json' %}", function(data) {
			  node = root = data;

			  var nodes = treemap.nodes(root)
				  .filter(function(d) { return !d.children; });

			  var cell = svg.selectAll("g")
				  .data(nodes)
				.enter().append("svg:g")
				  .attr("class", "cell")
				  .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
				  .on("click", function(d) { return zoom(node == d.parent ? root : d.parent); });
				  

			  cell.append("svg:rect")
				  .attr("width", function(d) { return d.dx - 1; })
				  .attr("height", function(d) { return d.dy - 1; })
				  .style("fill", function(d) { return color(d.parent.name); })
				  .style({'border-color': 'black'});

			  cell.append("svg:text")
				  .attr("x", function(d) { return d.dx / 2; })
				  .attr("y", function(d) { return d.dy / 2; })
				  .attr("dy", ".35em")
				  .attr("text-anchor", "middle")
				  .text(function(d) {
					return d.req>0 ? d.parent.name + d.name + ": " + d.req + "L": ""; 
				  })
				  .style("opacity", function(d) { d.w = this.getComputedTextLength(); return d.dx > d.w ? 1 : 0; });

			  d3.select(window).on("click", function() { zoom(root); });

			  d3.select("select").on("change", function() {
				if (this.value == "births") {
				  treemap.value(births).nodes(root);
				  svg.selectAll("g.cell").select("text").text(function(d) {
				    return d.parent.name + d.name + ": " + d.births});
				} else if (this.value=="req") {
				  treemap.value(req).nodes(root);
				  svg.selectAll("g.cell").select("text").text(function(d) {
				    return d.parent.name + d.name + ": " + d.req + "L"});
				} else if (this.value=="volume") {
				  treemap.value(volume).nodes(root);
				  svg.selectAll("g.cell").select("text").text(function(d) {
				    return d.parent.name + d.name + ": " + d.volume + "L"});
				} else if (this.value=="cost") {
				  treemap.value(cost).nodes(root);
				  svg.selectAll("g.cell").select("text").text(function(d) {
				    return d.parent.name + d.name + ": " + "$" + d.cost});				
				} else if (this.value=="energy") {
				  treemap.value(energy).nodes(root);
				  svg.selectAll("g.cell").select("text").text(function(d) {
				    return d.parent.name + d.name + ": " + "$" + d.energy});				
				} else if (this.value=="maint") {
				  treemap.value(maint).nodes(root);
				  svg.selectAll("g.cell").select("text").text(function(d) {
				    return d.parent.name + d.name + ": " + "$" + d.maint});				
				} else if (this.value=="cpb") {
				  treemap.value(cpb).nodes(root);
				  svg.selectAll("g.cell").select("text").text(function(d) {
				    return d.parent.name + d.name + ": " + "$" + cpb(d)});
				}
				zoom(node);
			  });
			});

			function req(d) {
			  return d.req;
			}
			
			function births(d) {
			  return d.births;
			}
			
			function volume(d) {
			  return d.volume;
			}
			
			function cost(d) {
			  return d.cost;
			}
			
			function energy(d) {
			  return d.energy;
			}
			
			function maint(d) {
			  return d.maint;
			}
			
			function cpb(d) {
			  return (d.cost / d.births);
			}

			function zoom(d) {
			  var kx = w / d.dx, ky = h / d.dy;
			  x.domain([d.x, d.x + d.dx]);
			  y.domain([d.y, d.y + d.dy]);

			  var t = svg.selectAll("g.cell").transition()
				  .duration(d3.event.altKey ? 7500 : 750)
				  .attr("transform", function(d) { return "translate(" + x(d.x) + "," + y(d.y) + ")"; });

			  t.select("rect")
				  .attr("width", function(d) { return kx * d.dx - 1; })
				  .attr("height", function(d) { return ky * d.dy - 1; })

			  t.select("text")
				  .attr("x", function(d) { return kx * d.dx / 2; })
				  .attr("y", function(d) { return ky * d.dy / 2; })
				  .style("opacity", function(d) { return kx * d.dx > d.w ? 1 : 0; });

			  node = d;
			  d3.event.stopPropagation();
			}
			</script>
	</body>
</html>