body {
  margin: 0px;
}

.bar {
  fill: steelblue;
}

.bar.warning {
  fill: IndianRed;
}

.bartext {
  fill: white;
  font: 14px sans-serif;
}

.axis text {
  font: 14px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

data {
  display: none;
}